<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>

    <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="manifest" href="site.webmanifest"> -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
<!-- Place favicon.ico in the root directory -->

<!-- CSS here -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

{% block head %} {% endblock %}

</head>

<body>

    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-

controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">Hospital</span></a>
            </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
            {% if user.is_authenticated %}







            {% if context == 'Patient'  %}

            <li class="nav-item">
              <a class="nav-link mx-2" href="/appointment/{{ user.id }}">Your Appointment's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/Payment/{{ user.id }}">Invoice & Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2" href="/profile/{{ user.id }}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/medical/{{ user.id }}">Medical history</a>
              </li>




            {% elif context == 'Doctor' %}
            <li class="nav-item">
                <a class="nav-link mx-2" href="/Profile/{{ user.id }}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/patient/{{ user.id }}">Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/prescribe/{{ user.id }}">Prescriptions</a>
              </li>
              {% elif context == 'Receptionist' %}
              <li class="nav-item">
                <a class="nav-link mx-2" href="/dashboard/{{ user.id }}">Dashboard</a>
              </li>
              {% elif context == 'HR' %}
              <li class="nav-item">
                <a class="nav-link mx-2" href="/dashboard1/{{ user.id }}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/hospital_acc/{{ user.id }}">Accounting</a>
              </li>
            {% endif %}
            <li class="nav-item text-right">
                <a class="nav-link mx-2 " href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button></a>
              </li>
          </ul>
            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="/signin">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>

            {% endif %}



          </ul>

        </div>
      </nav>
    <!-- header-end -->

     <!-- JS here -->
     <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
     <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
     <script src="{% static 'js/ajax-form.js' %}"></script>
     <script src="{% static 'js/waypoints.min.js' %}"></script>
     <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
     <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
     <script src="{% static 'js/scrollIt.js' %}"></script>
     <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
     <script src="{% static 'js/wow.min.js' %}"></script>
     <script src="{% static 'js/nice-select.min.js' %}"></script>
     <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/plugins.js' %}"></script>
     <script src="{% static 'js/gijgo.min.js' %}"></script>
     <!--contact js-->
     <script src="{% static 'js/contact.js' %}"></script>
     <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
     <script src="{% static 'js/jquery.form.js' %}"></script>
     <script src="{% static 'js/jquery.validate.min.js' %}"></script>
     <script src="{% static 'js/mail-script.js' %}"></script>

     <script src="{% static 'js/main.js' %}"></script>
     <script>
         $('#datepicker').datepicker({
             iconsLibrary: 'fontawesome',
             icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
         });
         $('#datepicker2').datepicker({
             iconsLibrary: 'fontawesome',
             icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }

         });
     $(document).ready(function() {
     $('.js-example-basic-multiple').select2();
 });
     </script>
{% block body %} {% endblock %}
<footer  class="footer">
  <div class="header-top_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6 ">
                <div class="social_media_links">
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="short_contact_list">
                    <ul>
                        <li><a href="#"> <i class="fa fa-envelope"></i> abcd@gmail.com</a></li>
                        <li><a href="#"> <i class="fa fa-phone"></i> +91-9874563214</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
</body>
</html>